</br></br></br>

<h3> Compute nQueen algo </h3>

<form name="getnQueen" novalidate >

<div class="form-group">
    <div class="col-lg-8">
           <input type="text" class="form-control" ng-model="nQueen" id="nQueen" placeholder="nQueen value" name="symbol" required>
    </div>
</div>

</form>

<button type="button" class="btn btn-success" ng-click="startnQueenRemote()">Use Cloud</button>
<button type="button" class="btn btn-success" ng-click="startnQueenLocal()">Use Local</button>

</br> 

&nbsp&nbsp&nbsp&nbsp Time taken: {{time}}